@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

/* header */
@page blank :left {
  @top-left {
    content: normal;
  }
}

// A4 page size
@page {
  size: A4 landscape;
}

/* style sheet for "A4" printing */
@media print and (width: 21cm) and (height: 29.7cm) {
  @page {
    margin: 3cm;
  }
}

/* style sheet for "letter" printing */
@media print and (width: 8.5in) and (height: 11in) {
  @page {
    margin: 1in;
  }
}

:root {
  --theme-pri: #568955;
  --theme-sec: #2d4978; //blue
  --theme-ter: #c33838; //red
  --grey: #e5e5e5;
  --dark-grey: #aaa;
  --sale-red: #c33838;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  --align: center;
}

body {
  box-sizing: border-box;
  margin: 20px;
}

.text[contenteditable]:empty::before {
  content: "n/a";
  color: gray;
  cursor: text;
}

.mainWrapper {
  width: 662px;
  margin: 0 auto;
  .header {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    img {
      width: 331px;
    }
  }
  .body {
    padding: 50px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    img {
      width: 335px;
    }
    .product-name {
      font-size: 2.8rem;
      font-weight: 900;
      text-transform: uppercase;
      color: var(--theme-sec);
      text-align: center;
    }
    .textarea[contenteditable]:empty::before {
      content: "Product Name";
      color: var(--dark-grey);
      cursor: text;
    }
    .product-cat {
      color: var(--theme-ter);
      font-weight: 600;
      font-size: 1.2rem;
      text-transform: capitalize;
      text-align: var(--align);
    }
    .product-name-cat {
      // display: grid;
      // grid-template-rows: 1fr 1fr;
      // justify-items: center;
      // justify-content: space-around;
      // align-items: center;
    }
  }
  .table {
    text-align: center;
    thead {
      background-color: var(--grey);
    }
    tr td{
      text-align: left;
      font-weight: 600;
      span {
        font-weight: normal;
      }
    }
  }
  .footer {
    border: 2px solid var(--grey);
    margin: 50px 0;
    padding: 10px 10px;
    div {
      display: grid;
      grid-template-columns: 1fr 3fr;
      align-items: start;
      jusitfy-content: start;
      text-align: left;
      :first-child {
        font-weight: 600;
        text-align: left;
      }
    }
  }
}
